
.mainHead {
  background-color: #a0861c;
  background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  font-size: 30px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.borderless {
  padding-top: 15px;
  padding-bottom: 30px;
}
