
nav {
  color: #FFFF;
  background-color: #4056A1;
  font-size: 24px;
  height: 100px;
  font-family: Source Sans Pro, sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 1.5em;
}

span {
  padding-top: 30px;
  font-family: Bungee, sans-serif;
  font-size: 35px;
}